---
import Layout from "../../../layouts/Layout.astro";
import Chapter from "../../../components/Chapter.astro";
import { getCollection } from "astro:content";
import {
  type Chapter as ChapterType,
  translationChapterNumbers,
} from "../../../data/chapterNumbers";

// Fetch all chapterFiles from the collection
const chapterFiles = await getCollection("translations", ({ data }) => {
  return data.chapter;
});

const chaptersByTranslator = chapterFiles
  .sort((a, b) => parseInt(a.data.chapter) - parseInt(b.data.chapter))
  .reduce((accumulator, chapter) => {
    const translator = chapter.data.translator;
    if (!accumulator[translator]) {
      accumulator[translator] = [];
    }
    accumulator[translator].push(chapter);
    return accumulator;
  }, {});
---

<Layout title={`Tao Te Ching translations `}>
  <a href="/" class="underline mb-20 block">Home</a>
  <div class="comparison-container flex gap-24 w-max">
    {
      Object.entries(chaptersByTranslator).map(([translator, chapters]) => {
        // Each translator gets a column. This div will contain all chapters for a single translator.
        return (
          <div class="translator-container flex flex-col gap-4">
            <h2>{translator}</h2>
            {(chapters as any[]).map(async (translatorChapter) => {
              const { Content } = await translatorChapter.render();
              // Each chapter is a flex-column item within the translator's column.
              return (
                <div class="chapter-container min-h-[500px] max-h-[500px] overflow-scroll flex flex-col items-start gap-4">
                  <div class="translation-info" />
                  <Chapter
                    chapterNumber={translatorChapter.data.chapter}
                    chapterName={translatorChapter.data.chapterName}
                    translationCode={translatorChapter.data.code}
                    content={translatorChapter.body}
                    comparisonMode={false}
                  >
                    <Content />
                  </Chapter>
                </div>
              );
            })}
          </div>
        );
      })
    }
  </div>
</Layout>
