---
import Layout from "../../layouts/Layout.astro";
import Chapter from "../../components/Chapter.astro";
import { getCollection } from "astro:content";
import type { TranslationCode } from "../../data/codes";
import codes, { translatorNamesByCode } from "../../data/codes";

export function getStaticPaths() {
  return codes.map((code) => ({
    params: {
      translation: code,
    },
  }));
}

const { translation } = Astro.params as {
  translation: TranslationCode;
};

const chapterFiles = await getCollection("translations", ({ data }) => {
  return data.code === translation;
}).then((chapterFiles) =>
  chapterFiles.sort((a, b) => a.data.chapter - b.data.chapter)
);
console.log(chapterFiles);
---

<Layout
  title={`Tao Te Ching translation by ${translatorNamesByCode[translation]}`}
>
  <a href="/" class="underline mb-20 block">Home</a>
  {
    chapterFiles.map(async (chapter) => {
      const { Content } = await chapter.render();
      return (
        <Chapter
          chapterNumber={chapter.data.chapter}
          chapterName={chapter.data.chapterName}
          translationCode={translation}
          content={chapter.body}
        >
          <Content />
        </Chapter>
      );
    })
  }
</Layout>
