---
import { Icon } from "astro-icon/components";
import Share from "~/components/Share"

const { translationCode, chapterNumber, comparisonMode } =
  Astro.props;
---

<div
  class=`chapter-bar flex sm:items-center mb-6 justify-start ${comparisonMode ? 'flex-row  gap-6' : 'gap-6 flex-row sm:flex-col'}`
>
  <h2 class=`text-xl`>{chapterNumber}</h2>
  <div
    class=`icons-container items-center flex gap-2 ${comparisonMode ? 'flex-row' : 'flex-row sm:flex-col '} opacity-0 group-hover:opacity-85 ease-linear transition-all`
  >
    <a href={`/compare/${chapterNumber}`}>
      <Icon
        size={22}
        name="compare"
        class="transition-all ease-linear opacity-40 hover:opacity-100"
      />
    </a>
    <Share    client:visible
    chapterNumber={chapterNumber} translationCode={translationCode} translationMode={comparisonMode ? 'compare' : 'read'} />
    <!-- <button class="share-btn">
      <Icon
        size={22}
        name="share"
        id=`${comparisonMode? 'Compare' : 'Read'}-${translationAuthor}-${translationCode}-${chapterNumber}`
        class="transition-all ease-linear opacity-40 hover:opacity-100"
      />
    </button> -->
    <Icon
      size={22}
      name="copy"
      class="transition-all ease-linear opacity-40 hover:opacity-100"
    />
  </div>
</div>

<script>
    // let buttonIds = id.split("-");
    // let mode = buttonIds[0] === "Compare" ? "compare" : "read";
    // let translatorName = buttonIds[1];
    // let translatorCode = buttonIds[2];
    // let chapterNumber = buttonIds[3];
    // let title = `Share chapter ${chapterNumber} of the ${translationYearsByCode[translatorCode]} translation of the Tao Te Ching by ${translatorNamesByCode[translatorCode]}}.`;
    // let textToShare = `The Way and its Virtue is a web-based comparitive reader for the Tao Te Ching by Sean Swanson.`;

</script>
<style>
  .icons-container:has(a:focus) {
    opacity: 1;
  }
</style>
